@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color:rgb(174, 208, 132);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

header {
    font-family: "Roboto Condensed", sans-serif;
  
  font-weight: 400;
  font-style: normal;
}

nav {
    border-bottom: 1px solid black;
}

nav a {
    color:black;
    text-decoration:none;
    padding: 10px;
    box-shadow: 0 0 5px black;
}

nav a:hover{
    box-shadow: 0 3px 5px black;
}

nav a:active {
    box-shadow: 0 1px 3px black;
}

h1,h2,h3 {
    text-align: center;
}

.subhead {
    font-size: 25px;
    color: rgb(70, 69, 69, 0.8);

}

.max {
max-width: 60dvw;
}